* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.button-group {
  display: block;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.js-start,
.js-stop {
  font-size: 30px;
  padding: 12px 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.js-start:hover,
.js-stop:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(141, 141, 141) !important;
  border-radius: 5px;
}

.value {
  font-size: 30px;
}
